*{
	margin: 0;
	padding: 0;
}
.content{
	position: absolute;
	/*改变content的top值来改变动画的效果*/
	/*top: -100%;*/
}
.page{
	position: relative;
	/*相对定位*/
}
img{
	position: absolute;
}

.page1{
	background: #00ccff;
}
.page1-Builing{
	width: 100%;
	height: 30%;
	bottom: 0;
	display: none;
	
}
.page1-Elements{
	width: 100%;
	height: 100%;
	animation: zooming 3s linear infinite;
}
.page1-Cloud{
	width: 90%;
	height: 90%;
	animation: zooming 3s linear infinite;
}
@keyframes zooming{
	0%{transform:scale(1);}
	50%{transform:scale(0.9);}
	100%{transform:scale(1);}
}
.page1-Txt{
	width: 60%;
	left: 0;
	right: 0;
	margin: auto;
	top: 15%;
}
.page1-Flight{
	width: 0px;
	margin: auto;
	right: 0;
	top: 50%;
	left: 0;
	animation: flight 4s linear infinite;
}
@keyframes flight{
	0%{transform:scale(1);}
	50%{transform:scale(1.2);}
	100%{transform:scale(1);}
}

.page1-Flower1{
	top: 14%;
	width: 20%;
	left: 7%;
	z-index: 1;
	animation: rotate 2s linear infinite;
}
@keyframes rotate{
	0%{transform:rotate(0deg);}
	25%{transform:rotate(30deg);}
	50%{transform:rotate(0deg);}
	75%{transform:rotate(0deg);}
	90%{transform:rotate(-30deg);}
	100%{transform:rotate(0deg);}
}
.page1-Flower2{
	top: 27%;
	width: 23%;
	left: 62%;
	z-index: 1;
	animation: rotate 2s linear infinite;
}

.page2{
	background: chartreuse;
}
.page2-Bg{
	width: 100%;
	height: 100%;
	}

.page2-Farm{
		width: 70%;
		right: 15%;
		top: 20%;
		display: none;
	
	}
.page2-IT{
	width: 70%;
	right: 15%;
	top: 60%;

}
.page2-Star{
	width: 100%;
	height: 100%;
}
.page3{
	background: cornflowerblue;
}
.page3-bus{
	width: 65%;
	bottom: 10%;
	z-index: 1;
}
.page3-hunman{
	width: 30%;
	bottom: 12%;
	right: 15%;
	z-index: 2;
}
.page3-lt{
	top: 10%;
}
.page3-BusStation{
	width: 100%;
	bottom: 0;
}

.page3-et{
	width: 40%;
	z-index: 2;
	display: none;
}
.page3-Bg{
	width: 100%;
	height: 100%;
}
.page3-WhereTxt{
	bottom: 5%;
	left: 5%;
	width: 0px;
}
.page3-txt{
	top: 15%;
	width: 0px;
	left: 10%;
}
.page3-hunman2{
	width: 30%;
	right: 7%;
	top: 10%;
	z-index: 1;
	display: none;
}
.page3-Wall{
	width: 25%;
	height: 100%;
	left: 80%;
	display: none;
}
.page4{
	background: wheat;
}
.page4-bg{
	width: 100%;
	height: 100%;
}
.page4-Guide{
	width: 70%;
	z-index: 1;
	top: 41%;
	left: 27%;
}
.page4-Title{
	z-index: 1;
	right: 0px;
	top: 10%;
	display: none;
}
.page4-light{
	bottom: 0;
	left: 5%;
	height: 70%;
}
.page4-Guide{
	z-index: 1;
	width: 70%;
	top: 41%;
	left: 27%;
	
}.page4-bg2{
	width: 100%;
	height: 100%;
	display: none;
}

.page4-txt{
	width: 100%;
	display: none;
}
